@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.maingrid {
  grid-template-rows: 18vh 1fr 10vh;
  grid-template-areas: 
    "header"
    "main"
    "footer";
}

header {
  grid-area: header;
}

main {
  grid-area: main;
}

footer {
  grid-area: footer;
}