@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;



.maingrid {
  grid-template-rows: 25vh 2fr 1fr 10vh;
  grid-template-areas: 
    "header"
    "encrypt"
    "keys"
    "footer";
}

@media screen and (min-width: 768px) {
  .maingrid {
    grid-template-rows: 25vh 1fr 20vh;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
      "header header"
      "encrypt keys"
      "footer footer";
  }
}

header {
  grid-area: header;
}

.encrypt {
  grid-area: encrypt;
}

.keys {
  grid-area: keys;
}

footer {
  grid-area: footer;
}